__pycache__
*.lprof
*.pyc
*.json
*.h5
datas/fonts/SourceHanSansHWSC-Regular.otf
datas/celebrity_images
datas/videos_test
datas/databases
arc_mbv2_ccrop_sim.onnx
arc_res50_ccrop_sim.onnx
yolox_m_sim.onnx
yolox_s_sim.onnx
yolox_tiny_sim.onnx
openiva/models/alignment/model_loop.py
weights/yolov4_-1_3_416_416_dynamic.onnx
weights/yolov4_1_3_416_416_static.onnx
